*
{
     padding:0px;
     margin:0px;
     box-sizing: border-box;
}

.wrapper
{
    width:80%;
    height:  auto;
    /* border:2px solid red; */
    margin:0 auto;
   
}

.sweetshop
{
    width:100%;
    height:55px;
    background-color:#2C5364;
}
.company-name
{
    float:left;
    color:#fff;
    padding-left:10px;
}

.company-name h1
{
    font-family: 'Manrope';
}


.order-now
{
    float:right;
    color:#fff;
    padding-top:10px;
    padding-right:12px;

}

.order-now a
{
     text-decoration: none;
     color:#fff;
     font-size:22px;
     font-family: sans-serif;
}


.main-menu
{
    margin-top:10px;
    width:100%;
    height: 50px;
    /* border: 2px solid red; */
    background-color: #89216b;
}
.searh
{
      float:left;
      width:350px;
      height:30px;
      color:red;
      margin-top:10px;
}
.searh input
{
     width:350px;
     height:30px;
     background-color:white;
     font-size:15px;
     margin-left:10px;
}


.menus
{
    width:48%;
    height: 50px;
    float:right;
    padding-top:12px;
   
}

.menus a
{
   text-decoration: none;
   padding:35px;
   color:#fff;
   font-size:17px;
   /* border:1px solid white; */
}

.menus a:hover
{
    font-size:18px;
    color:#0083b0;
}

.slider
{
    width:100%;
    height:400px;
    /* border: 2px solid red; */
    margin-top:10px;
}

.slider-left
{
    width:48%;
    height: 400px;
    float:left;
    background-color: black;
}

.slider-left h1
{
    text-align: center;
     color:blue;
    font-size:25px;
   color:#fff;
   padding-top:5px;
   padding-bottom:5px;
   font-family: Arial;
}

.sweets-img
{
    width:90%;
    height:350px;
    margin:0 auto;
    
}

.sweets-img img
{
    float:left;
    width:212.5px;
    height:172.5px;
    /* border:2px solid  #fc466b; */
        
}

.mid-left h1
{
    text-align: center;
    background-color:rgb(217, 39, 39);
    color:#fff;
    font-family:'Franklin Gothic Medium';
}

.mid-left img
{
    width:60px;
    height: 60px;
    border-radius: 60px;
    margin-top:10px;
    margin-left:10px;
    
}

marquee
{
   behavior: alternate;
}


.mid-left a
{
    text-align:justify;
    font-size:25px;
    color:#E62296;
   text-decoration: none;
   margin-left:90px;
   margin-bottom:80px;

}

.slider-right
{
    width:48%;
    height:400px;
    float:right;
    /* border:2px solid red; */
    background-color: lightblue;
}

.slider-right h2
{
    text-align: center;
    font-size:24px;
    color: red;
    background-color:lightskyblue;
    font-family:sans-serif;
}

.gif_img
{
    width:10%;
    height:60px;
    border-radius : 60px;
    margin-top:20px;
    float:left;

}

.slider-right p
{
     margin:10px;
     font-size:20px;
     text-align: justify;
     color:black;
     float:right;
     font-family: 'Noto Sans';
}

.middle
{
    width:100%;
    height: 400px;
    /* border:2px solid blue; */
    margin-top:10px;
}

.mid-left
{
    width:30%;
    height:400px;
    /* border:2px solid red; */
    float:left;
    background-color:lightblue;
}

hr
{
   margin-left:150px;
   margin-right: 150px;
}

.mid-right
{
    width:66%;
    height:400px;
    float:right;
    /* border:2px solid red; */
}

.about_shop
{
    width:50%;
    height:371px;
    border:1px solid black;
    float:left;
    background-color:lightblue;
  
}

.mid-right h2
{
    text-align: center;
    font-size:25px;
    color:white;
    background-color:rgba(255, 0, 0, 0.95);
}

.about_shop img
{
    width:70%;
    height:200px;
    border-radius:100%;
    margin:10px;
    margin-left:50px;

}

.about_shop p
{
    text-align: justify;
    font-size:16px;
    color:rgba(0, 0, 0, 0.669);
    padding:13px;
   

}
.section
{
    width:100%;
    height:400px;
    /* border:1px solid black; */
    margin-top:10px;
    background-color:white;
}
.section h2
{
    color:purple;
    font-size:25px;
    text-align: center;
    margin:10px;
}

.more-img
{
    width:18.5%;
    height:160px;
    border:1px solid  black;
    float:left;
    margin:6px;
    margin-left:8px;
    box-shadow: 0px 1px 1px 0px;
    
}

.more-img img
{
    width:160px;
    height:120px;
    margin-left:10px;
}

button
{
    width:70px;
    margin:10px;
    margin-left:45px;
    border-width:1px;
}

.footer
{
    width:100%;
    height:180px; 
    margin-top:1px;
    background-color:black;
}

.sweets-name a
{
    font-family: sans-serif;
}

.footer-left
{
     width:48%;
     height:180px;
     float:left
}

.footer h2
{
    color:white;
    font-size:28px;
    margin-left:20px;
    margin-bottom:20px;
    margin-top:10px;
    margin-bottom:15px;
}

.footer h3
{
    /* margin-left:20px; */
    color:white;
    margin:10px;
}

.icons
{
    width:48%;
    height:180px;
    float:right;
}

.icons img
{
    width:40px;
    height:40px;
    float:right;
    margin:7px;
    margin-right:20px;
}